<div class="container">
  <div class="jumbotron">
      <h1 class="display-1"><strong>Welcome to <br>CS Restaurant!</strong></h1>
        <p class="lead"><%= link_to "Menu", menu_path, class: "btn btn-block btn-primary" %></p>
        <hr class="m-y-2">
        <p>"Look ye, lad; never say that on board the Pequod. Never say it anywhere. Captain Ahab did not name himself. 'Twas a foolish, ignorant whim of his crazy, widowed mother, who died when he was only a twelvemonth old. And yet the old squaw Tistig, at Gayhead, said that the name would somehow prove prophetic.<br>
        Or ask more questions here</p>
    <%= link_to "Contact Us", contact_us_path, class: "btn btn-primary"  %><br>
  </div>
</div>

<section>
  <p class="h1" id="someElementId">Hello</p>
</section>
<hr>

<div class="section">
  <p>World!</p>
</div>
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Hello World From PrimeTimeTran!</h3><br>
    <p>This is the use of a little jQuery to make a popup modal =).</p>
  </div>
</div>
<% content_for :js do %>
  <script>
    console.log("JS works on home index page")
    $( document ).on('turbolinks:load', function() {
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    })
  </script>
<% end %>
