<div class="jumbotron">
    <h1 class="display-3">Welcome to the Codeschool Food Store!</h1>
      <p class="lead"><%= link_to "Menu", menu_path, class: "btn btn-primary" %></p>
      <hr class="m-y-2">
  <%= link_to "Contact Us", contact_us_path, class: "btn btn-primary"  %><br>
</div>
