<h1>Menu</h1>

<ul class="nav nav-pills">
  <% Section.all.each do |section| %>
  <li class="nav-item">
    <%= link_to section.name, menu_path(section: section.name), class: "nav-link #{'active' if params[:section] == section.name}" %>
  </li>
  <% end %>
</ul>

<% if @section %>
  <% @section.food_items.each do |food| %>
    <h3><%= food.name %></h3>
    <p><%= food.description %></p>
    <%= image_tag("food.url") %>
  <% end %>
<% end %>
