<h1>Orders Show</h1>
  <h6>Name: </h6>
    <p><%=  @order.name %></p>
  <h6>Address: </h6>
    <p><%=  @order.address %></p>
  <h6>Food Item:</h6>
    <p><%=  @food_item.name%></p>
  <h6>Price: </h6>
    <p><%=  @food_item.price %></p>
