html, body {
  background-color: #7D8491;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
footer {
  flex: 1 0 auto;
  background-color: #f7f7f9;
}
.content {
  flex: 1 0 auto;
}
