html, body {
  height: 100%;
  margin: 0;
}
.navbar {
  background-color: #254175;
  li a {
    color: white;
  }
}

.jumbotron {
  color: white;
  background: url("table.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#menu {
  background-color: #254175;
  a {
    color: white;
  }
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -100px;
}
.pull-lg-right {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem;
}
section {
  background-image: url("table.jpg");
  height: 500px;
}
.section {
  background-color: pink;
  height: 500px;
}
.footer {
  background-color: #254175;
}
.footer, .push {
  height: 100px;
  color: white;
}
.footer .container {
  margin-top: 100px;
  padding-top: 15px;
  height: 100px;
}
