#menu {
  display: table;
}

#menu .card-block {
  width: 320px;
  float: none;
  display: table-cell;
  vertical-align: top;
  font:red;
  background-color: #ABEAFF;
}
.card-header{
  width: 320px;
}
