<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><h1>Footer 1</h1></div>
      <div class="col-sm-4"><h1>Footer 2</h1></div>
      <div class="col-sm-4"><h1>Footer 3</h1></div>
    </div>
  </div>
</footer>
